:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  background: #07182E;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 14px;
  padding: 10px; /* Adjust padding as needed */
  box-sizing: border-box;
  z-index: 2; /* Ensure it is above the gradient */
}

.card h1 {
  z-index: 3; /* Ensure it is above the gradient */
  color: white;
  font-size: 2em;
  margin-bottom: 10px; /* Adjust margin as needed */
  text-align: left; /* Align heading to the left */
  width: 100%;
  margin-top: 10px;
}

.card::before {
  content: '';
  position: absolute;
  top: 50%; /* Center the gradient */
  left: 50%; /* Center the gradient */
  width: 200%; /* Larger than the card to cover the background */
  height: 200%; /* Larger than the card to cover the background */
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  animation: rotBGimg 4s linear infinite;
  transition: all 0.2s linear;
  transform: translate(-50%, -50%) rotate(0deg); /* Center the gradient and start rotation */
  z-index: 1; /* Ensure it is behind the content */
}

@keyframes rotBGimg {
  from {
    transform: translate(-50%, -50%) rotate(0deg); /* Ensure it starts centered */
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg); /* Ensure it ends centered */
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 20px;
  z-index: 2; /* Ensure it is above the gradient but behind the content */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 3; /* Ensure it is above the gradient and after element */
  width: 100%;
  flex-grow: 1; /* Allow ul to grow and take up remaining space */
  overflow-y: auto; /* Add scroll if content overflows */
}

li {
  margin-bottom: 10px;
  font-size: 1.4em; /* Increase font size */
  text-align: justify;
  padding: 10px 15px;
  border-radius: 10px;
  color: white; /* Adjust text color as needed */
}


