<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="15px">
    <mat-grid-tile colspan="2" rowspan="1.5" class="map-tile">
      <app-map></app-map>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2" class="balance-tile">
      <app-balance></app-balance>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1" class="rewards-tile">
      <app-rewards></app-rewards>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="transactions-tile">
      <app-transactions></app-transactions>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="ai-tips-tile">
      <app-ai-tips></app-ai-tips>
    </mat-grid-tile>
  </mat-grid-list>


</div>



