<div class="home">
  <div class="dashboard-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.number.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name.name}} ({{element.name.symbol}})</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{element.details.price}}</td>
      </ng-container>

      <!-- 24h % Column -->
      <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef>24h %</th>
        <td mat-cell *matCellDef="let element">{{element.details.change}}</td>
      </ng-container>

      <!-- Market Cap Column -->
      <ng-container matColumnDef="marketCap">
        <th mat-header-cell *matHeaderCellDef>Market Cap</th>
        <td mat-cell *matCellDef="let element">{{element.details.marketCap}}</td>
      </ng-container>

      <!-- Circulating Supply Column -->
      <ng-container matColumnDef="supply">
        <th mat-header-cell *matHeaderCellDef>Circulating Supply</th>
        <td mat-cell *matCellDef="let element">{{element.details.supply}}</td>
      </ng-container>

      <!-- Unlock Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef>Unlock Progress</th>
        <td mat-cell *matCellDef="let element">{{element.details.progress}}</td>
      </ng-container>

      <!-- Next Unlock Column -->
      <ng-container matColumnDef="nextUnlock">
        <th mat-header-cell *matHeaderCellDef>Next Unlock</th>
        <td mat-cell *matCellDef="let element">{{element.details.nextUnlock}}</td>
      </ng-container>

      <!-- Next Unlock Date Column -->
      <ng-container matColumnDef="nextUnlockDate">
        <th mat-header-cell *matHeaderCellDef>Next Unlock Date</th>
        <td mat-cell *matCellDef="let element">{{element.details.nextUnlockDate}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToCoinChart(row)"></tr>
    </table>
  </div>

</div>


